

/*********** Robot Styles **********/

.jarvis {
	width: 20%;
    height: 20%;
	position: fixed;
	bottom: 50%;
	right: 20%;
}

.messageWrapper {
	border: 3px solid white;
  background: white;
  border-radius: 25px;
	padding: 10%;
  box-shadow: 0px 2px 4px rgba(0,0,0,50);
}

.buttonPanel{
  margin-right:10%;
}

.buttonWrapper {
  float:right;
  margin-top:34px;
  margin-bottom:5%;
  border: 0.5px solid #009A65;
  border-radius: 10px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 5%;
  background-color: white;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:74%%;
  text-transform: uppercase;
  color: #009A65;
}

.buttonWrapper#sandwichButton {
  margin-left:2%;
}

.buttonWrapper:hover {
  background-color:#009A65;
  color:white;
  cursor:pointer;
}

.buttonWrapper:active {
  box-shadow:0px 0px 0px 0px;
}

.messageText {
	background-color: white;
  font-family:"Roboto",Roboto,serif;
  font-size:13.5px;
}

.messageButtons {
	margin-top: 5%;
}

.twoButtons {
	width: 49%;
	white-space: normal;
}

.threeButtons {
	width: 31%;
	white-space: normal;
}

.buttonOne {}
.buttonTwo {}
.buttonThree {}

.robotContainer {
	width: 30%;
    height: 45%;
	text-align: center;
	margin-left: 35%;
  box-shadow: 5px 5px 5px #888888;
}

.robotContainer img {
	width: 100%;
	height: 100%;
}
/*********** End Robot Styles **********/

.chatBox {
	float: right;
	margin: 5px;
	padding: 5px;
  margin-top:5%;
	width: 30%;
  background-color:#ffffff;
	border: 5px solid white;
	border-radius: 30px;
	box-shadow: 0px 2px 4px 0px #888888;
}

.chatBox#inVivo{
  margin: 5px;
  padding: 5px;
  margin-top:5%;
  margin-right:7%;
  width: 80%;
  background-color:#ffffff;
  border: 5px solid white;
  border-radius: 30px;
  box-shadow: 0px 2px 4px 0px #888888;
}

.chatMessage {
	float:left;
  margin: 5px;
	padding: 5px;
	border-radius: 15px;
  font-size:13.5px;
  font-family:"Roboto",Roboto,sans-serif;
}

.chatMessageWrapper .chatMessage {
	background-color: #F3F5F7;
  text-align:left;
  margin-top:3px;
	padding: 4%;
  width: 70%;
}

.chatMessageTop{
  background-color: #F3F5F7;
  text-align:left;
  margin-top:44px;
  padding: 4%;
  width: 70%;
  font-family:"Roboto",Roboto,sans-serif;
  font-size:13.5px;
  border-radius:15px;
}

.rIcon {
  height:26px;
    width:26px;
    border-radius:50%;
    border-radius:50%;
    text-align:center;
    color: #ffffff;
    background-color:#009A65;
    padding:2%;
    margin-top:10%;
    float: left;
    font-family:"Roboto",Roboto,serif;
    font-size: 18px;
    font-weight:lighter;
}

#arrow-left {
  width:0;
  height:0;
  border-top:15px solid transparent;
  border-bottom:15px solid transparent;
  border-right:15px solid #009A65;
}

/************ Progress Bar  *******************/

.progressBar {
  margin-left:62%;
  margin-bottom:2%;
}

.progressBarInVivo {
  margin-left:14%;
  margin-bottom:19px;
}

/************ Modal styles  *******************/
/***** aka "I like it when you call me big popup" *****/
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.65); /* Black w/ opacity */
}

.inVivoModal {
    position:absolute; /* Stays in place */
    z-index: -1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 57.5%;
    top: 0;
    width: 419px; /* Width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #EBF2F7; /* Fallback color */
    background-color: #EBF2F7; /* Black w/ opacity */
}

/* Modal Content */

.modalContainer {
    background-color: #EBF2F7;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 50%;
    border: 3px solid #EBF2F7;
    border-radius: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,50);}

/*.backgroundModalContainer {
    background-color: #ffffff;
    /*maybe I'll put z-index here
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 50%;
    border:3px solid #ffffff;
    border-radius: 25px;
}*/


.modalTitle {
  font-size: 24px;
  width:60%;
  padding:5px;
  font-family: "Roboto Slab",Roboto,serif;
  color:#ffffff;
  background-color:#009A65;
  border-radius: 10px;
}

/* Minimize and Maximize Button Panel */
.minimize {
    height:18px;
    width:18px;
    border-radius:28%;
    text-align:center;
    color: #000000;
    background-color:#F8C31C;
    border-color:#F8C31C;
    float: right;
    font-size: 12px;
    font-weight: bold;
}

.maximize {
  height:18px;
    width:18px;
    border-radius:50%;
    border-radius:50%;
    text-align:center;
    color: #000000;
    background-color:#7ED321;
    border-color:#7ED321;
    float: right;
    font-size: 12px;
    font-weight: bold;
}

.minimize:hover,
.minimize:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.maximize:hover,
.maximize:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Bottom Menu Buttons*/

.bottomButtonPanel {
  margin-top:2%;
}

.lastMessage,
.help {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-left:0%;
  margin-right:12%;
  background-color: white;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:14.7px;
  color: #009A65;
  text-align:left;
}

.lastMessageInVivo,
.helpInVivo, .viewBotMessage,
.viewGraphs {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-left:0%;
  margin-right:10%;
  margin-top:30px;
  background-color: white;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:14.7px;
  color: #009A65;
  text-align:left;
}

.lastMessage:hover,
.help:hover {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-left:0%;
  margin-right:12%;
  background-color: #009A65;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:14.7px;
  color: white;
  text-align:left;
}

.download {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-right:4%;
  background-color: white;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:8.75px;
  color: #009A65;
  text-align:left;
}

.modalRobotContainer {
	text-align: center;
}

.modalRobotContainer img {
	width: 10%;
	height: 10%;
}

/*Baby Bot Buttons*/

.babyBotPanel {
  float:right;
  margin-left:798px;
  margin-right:330px;
  margin-top:198px;
  margin-bottom:556px;

}

.viewBotMessage,
.viewGraphs {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding-top:13px;
  padding-bottom:17px;
  margin-top:14px;
  background-color: white;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:12px;
  color: #009A65;
  text-align:left;
}

#babyBotR {
  height:23.58px;
    width:23.58px;
    border-radius:50%;
    border-radius:50%;
    text-align:center;
    color: #ffffff;
    background-color:#009A65;
    padding:auto;
    margin-top:11px;
    margin-left:15px;
    margin-right:16px;
    float: left;
    font-family:"Roboto",Roboto,serif;
    font-size: 12px;
    font-weight:lighter;

}



