/*********** Robot Styles **********/

.buttonPanel{
  margin-right:21px;
}

.buttonWrapper {
  float:right;
  margin-top:32px;
  margin-bottom:5%;
  border: 0.5px solid #009A65;
  border-radius: 10px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 5%;
  background-color: white;
  font-family:"Roboto",Roboto,serif;
  font-weight:bold;
  font-size:74%%;
  text-transform: uppercase;
  color: #009A65;
}

.buttonWrapper#sandwichButton {
  margin-left:2%;
}

.buttonWrapper:hover {
  background-color:#009A65;
  color:white;
  cursor:pointer;
}

.buttonWrapper:active {
  box-shadow:0px 0px 0px 0px;
}

.messageText {
	background-color: white;
  font-family:"Roboto",Roboto,serif;
  font-size:13.5px;
}

.twoButtons {
	width: 49%;
	white-space: normal;
}

.threeButtons {
	width: 31%;
	white-space: normal;
}

.buttonOne {}
.buttonTwo {}
.buttonThree {}

/*********** End Robot Styles **********/

.chatBox {
	float: right;
  margin-top: 42px;
  margin-left:50px;
  margin-right:0px;
	padding: 5px;
	width: 302px;
  height:287px;
  background-color:#ffffff;
	border: 5px solid white;
	border-radius: 30px;
	box-shadow: 0px 2px 4px 0px #888888;
  display:block;
}

.chatBox#inVivo{
  margin: 5px;
  padding: 5px;
  margin-top:5%;
  margin-right:7%;
  width: 80%;
  background-color:#ffffff;
  border: 5px solid white;
  border-radius: 30px;
  box-shadow: 0px 2px 4px 0px #888888;
}

.chatMessageAlignVertically {
  float:left;
  padding-right:27px;
  padding-left:14px;
  padding-top:26px;
  width:220px;
}

.chatMessage {
	float:left;
  margin: 5px;
	padding: 5px;
	border-radius: 15px;
  font-size:13.5px;
  font-family:"Roboto",Roboto,sans-serif;
}

.chatMessageWrapper .chatMessage {
	background-color: #EEEEEE;
  text-align:left;
  margin-top:3px;
	padding: 4%;
  width: 218px;
}

/** where is this in HTML? **/
.chatMessageTop{
  background-color: #EEEEEE;
  text-align:left;
  margin-top:44px;
  padding: 4%;
  width: 70%;
  font-family:"Roboto",Roboto,sans-serif;
  font-size:13.5px;
  border-radius:15px;
}

.rIcon {
  height:26px;
    width:26px;
    border-radius:50%;
    border-radius:50%;
    text-align:center;
    color: #ffffff;
    background-color:#009A65;
    padding:2%;
    margin-top:10%;
    float: left;
    font-family:"Roboto",Roboto,serif;
    font-size: 18px;
    font-weight:lighter;
}

#arrow-left {
  width:0;
  height:0;
  border-top:15px solid transparent;
  border-bottom:15px solid transparent;
  border-right:15px solid #009A65;
}

/************ Progress Bar  *******************/

.progressBar {
  margin-left:64.5%;
  margin-bottom:2%;
}

.progressBarInVivo {
  margin-left:14%;
  margin-bottom:19px;
}

/************ Modal styles  *******************/
/***** aka "I like it when you call me big popup" *****/
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.65); /* Black w/ opacity */
}

.inVivoModal {
    position:absolute; /* Stays in place */
    z-index: -1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 57.5%;
    top: 0;
    width: 419px; /* Width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(238,238,238,.30); /* Fallback color */
    background-color: rgba(238,238,238,.30); /* Black w/ opacity */
}

/* Modal Content */

.modalContainer {
    background-color: #EEEEEE;
    margin: auto;
    padding: 0px;
    width: 1122px;
    height: 401px;
    border: 3px solid #EEEEEE;
    border-radius: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,50);}

/*.backgroundModalContainer {
    background-color: #ffffff;
    /*maybe I'll put z-index here
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 50%;
    border:3px solid #ffffff;
    border-radius: 25px;
}*/


.modalTitle {
  font-size: 24px;
  width:60%;
  padding-left:31px;
  padding-top:7px;
  padding-bottom:7px;
  font-family: "Roboto Slab",Roboto,serif;
  font-weight:300;
  color:white;
  background-color:#009A65;
  border-radius: 25px 25px 0px 0px;
}

/* Minimize and Maximize Button Panel */
.minimize {
    height:18px;
    width:18px;
    border-radius:28%;
    text-align:center;
    color: #000000;
    background-color:#F8C31C;
    border-color:#F8C31C;
    float: right;
    font-size: 12px;
    font-weight: bold;
}

.maximize {
  height:18px;
    width:18px;
    border-radius:50%;
    border-radius:50%;
    text-align:center;
    color: #000000;
    background-color:#7ED321;
    border-color:#7ED321;
    float: right;
    font-size: 12px;
    font-weight: bold;
}

.minimize:hover,
.minimize:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.maximize:hover,
.maximize:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.legend{
  float:right;
  margin-top:65px;
  width:203px;
}

.lineKey {
  float:right;
  border: 0.5px solid transparent;
  border-radius: 28px;
  box-shadow:transparent;
  padding: 0%;
  margin-top:6px;
  height:36px;
  width:225px;
  background-color: transparent;
  font-family:"Roboto",Roboto,sans-serif;
  font-weight:bold;
  font-size:12px;
  color: black;
  text-align:left;
  padding-left:30px;
}

#projectedPerformanceLine {
  padding-right:5px;
  padding-top:5px;
}

.goalButton {
  float:right;
  border: 0.5px solid transparent;
  border-radius: 28px;
  box-shadow:2px 2px 4px 0px rgba(151,151,151,20);
  padding: 1%;
  margin-top:6px;
  height:36px;
  width:264px;
  background-color: #EEEEEE;
  font-family:"Roboto",Roboto,sans-serif;
  font-weight:bold;
  font-size:12px;
  color: black;
  text-align:left;
  padding-left:30px;
}

.goalButton#lineKey {
  float:right;
  border: 0.5px solid transparent;
  border-radius: 28px;
  box-shadow:transparent;
  padding: 1%;
  margin-top:6px;
  height:36px;
  width:264px;
  background-color: white;
  font-family:"Roboto",Roboto,sans-serif;
  font-weight:bold;
  font-size:12px;
  color: black;
  text-align:left;
  padding-left:30px;
}

.goalButton#addCustomGoal {
  float:right;
  border: 0.5px solid transparent;
  border-radius: 28px;
  box-shadow:2px 2px 4px 0px rgba(151,151,151,20);
  padding: 1%;
  margin-top:6px;
  height:36px;
  width:264px;
  background-color: #EEEEEE;
  font-family:"Roboto",Roboto,sans-serif;
  font-weight:bold;
  font-size:12px;
  color: black;
  text-align:left;
  padding-left:60px;
  display:none;
}

.moderateGoalText {
  font-family:"Roboto",Roboto,sans-serif;
  font-size:12px;
  font-weight:400;
  padding-left:43px;
}

/*Bottom Menu Buttons*/

.bottomButtonPanel {
  margin-top:2%;
}

.lastMessage,
.help {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-left:0%;
  margin-right:12%;
  height:46px;
  width:131px;
  background-color: white;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:14.7px;
  color: #009A65;
  text-align:left;
}

.lastMessageInVivo,
.helpInVivo {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-left:0%;
  margin-right:10%;
  margin-top:30px;
  background-color: white;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:14.7px;
  color: #009A65;
  text-align:left;
}

.lastMessage:hover,
.help:hover {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-left:0%;
  margin-right:12%;
  background-color: #009A65;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:14.7px;
  color: white;
  text-align:left;
}

.download {
  float:right;
  text-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-right:4%;
  background-color: transparent;
  border: transparent;
  font-family:"Roboto",Roboto,serif;
  font-weight:bold;
  font-size:14px;
  color: white;
  text-align:left;
  text-decoration:underline;
}

.hideHelper {
  float:right;
  text-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding: 1%;
  margin-right:20px;
  background-color: transparent;
  border: transparent;
  font-family:"Roboto",Roboto,serif;
  font-weight:bold;
  font-size:14px;
  color: #009A65;
  text-align:left;
  text-decoration:underline;
}

.hideHelper:hover,
.hideHelper:focus {
  cursor:pointer;
}

.download:hover,
.download:focus {
  cursor:pointer;
}

.modalRobotContainer {
	text-align: center;
}

.modalRobotContainer img {
	width: 10%;
	height: 10%;
}

/*Baby Bot Buttons*/

.babyBotPanel {
  float:right;
  margin-left:798px;
  margin-right:330px;
  margin-top:198px;
  margin-bottom:556px;

}

.viewBotMessage,
.viewGraphs {
  float:right;
  border: 0.5px solid #009A65;
  border-radius: 28px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,50);
  padding-top:13px;
  padding-bottom:17px;
  margin-top:14px;
  background-color: white;
  font-family:"Roboto Slab",Roboto,serif;
  font-weight:bold;
  font-size:12px;
  color: #009A65;
  text-align:left;
  width:132px;
  height:46px;
}

#babyBotR {
  height:23.58px;
    width:23.58px;
    border-radius:50%;
    border-radius:50%;
    text-align:center;
    color: #ffffff;
    background-color:#009A65;
    padding:auto;
    margin-top:11px;
    margin-left:15px;
    margin-right:16px;
    float: left;
    font-family:"Roboto",Roboto,serif;
    font-size: 12px;
    font-weight:lighter;

}

.alert{
  background-color:transparent;
  border:transparent;
  margin-bottom:0px;
}

#arrow-top{
    width:0;
    height:0;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-bottom:20px solid #FF8300;
    color:white;
    font-family:"Roboto",Roboto,sans-serif;
    font-weight:bold;
    font-size:14px;
    padding-right:5px;
    padding-top:5px;
}

/* Help Pop-Up */

.modalContainerHelp {
    background-color: white;
    margin: auto;
    padding: 0px;
    width: 1122px;
    height: 448px;
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,50);
}

.helpModuleContainer{
  height:270px;
}

.modalTitleHelp{
  font-size: 34px;
  width:100%;
  height:91px;
  padding:5px;
  font-family: "Roboto Slab",Roboto,serif;
  text-align:center; /*why is it aligning wierdly? what is this class nested in?*/
  color:#ffffff;
  background-color:#009A65;
  border-radius: 25px;
}


.helpModulesPanel {
  height:50px;
}

.helpModuleLeft {
    margin-top:27px;
    margin-left:252px;
    width:300px;
    font-family:"Roboto",Roboto,sans-serif;
    font-size:14px;
}

.helpModuleRight {
    float:right;
    margin-top:0px;
    width:300px;
    font-family:"Roboto",Roboto,sans-serif;
    font-size:14px;
    margin-right:250px;
}

.topModuleBlue {
    float:left;
    background-color: #EEEEEE;
    margin: auto;
    padding: 20px;
    width: 209px;
    height: 138px;
    border: 3px solid #EEEEEE;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,50);
}

.topModuleWhite {
    float:left;
    background-color: white;
    margin: auto;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom:35px;
    padding-top:31px;
    width: 193px;
    height: 129px;
    border: 3px solid white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,50);
}
